page-home {

}

.push-icon-right
{
    margin-right:4px;
}

.push-left
{
    position:relative;
    left:15px;
}

.move-left
{
    position:relative;
    left:-20px;
    overflow: visible !important;
}