page-account-creation {

}

.anchor-other
{
    position: absolute;
    top:0px;
    left:0px;
}

.top-center
{
    color:#fff;
    position: absolute;
    left:0px;
    width:100vw;
    text-align:center;
    font-size:200% !important;
}

.bottom-center
{
    position: absolute;
    left:0px;
    bottom:-50px;
    text-align:center;
}

.white-text
{
    color:white !important;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
    .top-center
    {
        font-size:4.1rem !important;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    
   
}
