// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


html {
  font-size: 53%;
}


.float-left
{
    float:left;
}

.link
{
    color:#85C1E9 !important;
    text-decoration: underline;
}

.fix-it
{
    position:relative;
    top:-25vh !important;
}

.alter-margin
{
    margin-top:-10px;
}


.question
{
    font-weight:bold;
    font-size:1.5em;
}

.center-button-wrapper
{
    position: absolute;
    left:0;
    width:100vw;
    text-align:center;
}

.answer
{
    position: relative;
    top:-10px;
    font-style:italic;
    font-size:1.3em;
}


.special-answer
{
    margin-bottom:-10px;
}

.push-content-down
{
    position: relative;
    top:35px;
    margin-top:10px;
    margin-bottom:10px;
}

.move-left-special
{
    position:relative;
    left:-20px;
}

.information-button
{
    position: relative;
    left:-10px;
    float:right;
    font-size:32px;
}

.blue-highlight
{
    background-color:#387ef5 !important;
}

.responsive-chart-wrapper
{
    position: relative;
    top:40px;
    width:100vw;
    text-align:center;
}

.push-down
{
    margin-bottom:60px !important;
}

.responsive-chart
{
    display: inline-block;
    margin-left:auto;
    margin-right:auto;

    height:60vw;
    width:60vw;
}

.main-back-button
{
    position: absolute;
    display: block;
    margin-top:15px;
    margin-bottom:55px;
    left: 50%;
    transform: translate(-50%, 0);
}

.anchor-other
{
    display: inline-block !important;
    text-align:center;
    width:100vw;
}

.blue-slide
{
    background-color:#2980B9;
}

.alt-blue-slide
{
    background-color:#3498DB;
}

.purple-slide
{
    background-color:#A569BD;
}

.alt-purple-slide
{
    background-color:#9B59B6;
}

.green-slide
{
    background-color:#45B39D;
}

.alt-green-slide
{
    background-color:#16A085;
}

.red-slide
{
    background-color:#CD6155
}

.alt-red-slide
{
    background-color:#C0392B;
}

.first-slide
{
    background-color:#E74C3C;
}

.second-slide
{
    background-color:#9B59B6;
}

.third-slide
{
    background-color:#2ECC71;
}


.fourth-slide
{
    background-color:#3498DB;
}

.center-button{
    text-align: center;
}


.slide-header-main
{
    font-size:1.1rem;
    color:#fff;
}

.rel-pos
{
    position:relative;
}

.center-abs
{
    position: absolute;
    display: block;
    background-color:yellow;
    text-align:center;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
     /* iPhone 5 */ 
     

     .slide-header-main
     {
         font-size:3rem !important;
     }

     .whiten
     {
         font-size:1.65rem !important;
     }

     .center-title-lower
     {
         font-size:2.1rem !important;
     }

     .heading
     {
         font-size:2.5rem !important;
     }

     .special-card-internal
     {
         font-size:2.3rem !important;
     }

     .center-button-wrapper
     {
         margin-top:12px !important;
     }


     }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
    /* iPhone 6 */ 

     .slide-header-main
     {
         font-size:3.5rem !important;
     }

     .whiten
     {
         font-size:1.95rem !important;
     }

     .center-title-lower
     {
         font-size:2.5rem !important;
     }

     .heading
     {
         font-size:2.7rem !important;
     }

     .special-card-internal
     {
         font-size:2.7rem !important;
     }

     .center-button-wrapper
     {
         margin-top:12px !important;
     }

     .limit-button
     {
         font-size:1.95rem !important;
     }

    }

    @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    
    /* iPad */ 

   .anchor-button-down, 
   {
    font-size:2.9rem !important;
    width:200px !important;
    height:90px !important;
    line-height:110px;
   }

    .alter-margin
    {
        font-size:2.9rem !important;
        margin:2px 2px 2px 2px !important;
        width:320px !important;
        height:90px !important;
        line-height:110px;
    }

    .main-back-button
    {
        font-size:2.9rem !important;
        margin:2px 2px 2px 2px !important;
        width:320px !important;
        height:90px !important;
        line-height:110px;
        margin-bottom:5px !important;
    }
   
    .slide-header-main
     {
         font-size:5.5rem !important;
     }

     .whiten
     {
         font-size:3.15rem !important;
     }

     .center-title-lower
     {
         font-size:3.5rem !important;
     }

     .heading
     {
         font-size:3.5rem !important;
     }

     .special-card-internal
     {
         font-size:3.5rem !important;
     }

     .center-button-wrapper
     {
         margin-top:12px !important;
     }

     .limit-button
     {
         font-size:2.95rem !important;
     }
    }
