page-bladder-about {

}


.heading-wrapper
{
    position:relative;
    width:100vw;
    height:40px;
    text-align:center;
}

.heading
{
    text-align:center;
    position: relative;
    width:auto;
    top:20px;
    font-style: italic;
    padding-bottom:3px;
    font-size:25px;
}


