page-bladder {

}

.slide-header
{
    position: relative;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
    text-align:center;
    font-weight:bold;
    font-style:italic;
    margin-top:20px;
}

.anchor-other
{
    position: absolute;
    top:0px;
    left:0px;
}

.limit-button
{
    width:65%;
    height:10vh;
}

.pad
{
    padding-left:20px;
    padding-right:20px;
}

