page-bladder {

}

.whiten
{
    color:#F7F9F9;
}

.slide-header
{
    position: relative;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
    text-align:center;
    font-weight:bold;
    font-style:italic;
    margin-top:5px;
}

.slide-header-main
{
    font-size:32px;
}

.anchor-other
{
    position: absolute;
    top:0px;
    left:0px;
}

.limit-button
{
    width:65%;
    height:10vh;
}

.pad
{
    padding-left:20px;
    padding-right:20px;
}

.special-card-header
{
    position:absolute;
    height:10vh;
    bottom:-1px;
    width:100vw;
    font-size:24px;
    line-height:5vh;
    display: table;
}

.special-card-internal
{
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
}

.center-title
{
    position:relative;
    display: block;
    width:100vw;
}

.center-title-lower
{
    position:absolute;
    display: block;
    top:1vh;
    width:100vw;
}

p
{
    text-align:left;
    font-size:18px;
    padding-left:20px;
    padding-right:20px;
}

.anchor-button-down
{
    position:absolute;
    display: block;
    bottom:13vh;
    left: 50%;
    transform: translate(-50%, 0);
}