page-information {

}

.center-button-wrapper
{
    position: absolute;
    left:0;
    width:100vw;
    text-align:center;
}

.center-button
{
    display: inline-block;
    text-align:center;
    margin-bottom:20px;
}